<!DOCTYPE html>
<html>
<head>
{% load static %}
<script src="https://www.chartjs.org/dist/2.9.2/Chart.min.js"></script>
<script src="https://www.chartjs.org/samples/latest/utils.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
<body>

<script>
var catagory_list = {{category_list|safe}};
var device_list = {{device_list|safe}};
var metric_list = {{metric_list|safe}};
var note_list = {{note_list|safe}};
</script>

<div style="width: 75%; float:right;">
	<canvas id="canvas"></canvas>
</div>


<div style="width:25%;">
<ul id="devices">

</ul>
</div>

<script>
	var barChartData = {
		labels: [],
		datasets: []
	};
	window.onload = function() {
		var ctx = document.getElementById('canvas').getContext('2d');
		window.myBar = new Chart(ctx, {
			type: 'bar',
			data: barChartData,
			options: {
				title: {
					display: true,
					text: 'Chart.js Bar Chart - Stacked'
				},
				tooltips: {
					mode: 'index',
					intersect: false
				},
				responsive: true,
				scales: {
					xAxes: [{
						stacked: true,
					}],
					yAxes: [{
						stacked: true
					}]
				}
			}
		});

		var devices = $("#devices");
		device_list.forEach(function(device) {
			devices.append("<li><input type='checkbox' id='device"+device.id+"' onclick='update();'>"+device.name+"</li>");
		});
	};

	function update() {
		var labels = [];
		var datasets = [];
		metric_list.forEach(function(metric) {
			labels.push(metric.name);


		});

		device_list.forEach(function(device) {
		
			var elId = "#device"+device.id;
			var devEl = $(elId)[0].checked;
			if(devEl)
			{
	
				var colList = [];
				for (var col in window.chartColors)
					colList.push(window.chartColors[col]);
				var col = colList[Math.floor(Math.random() * colList.length)];

				var vals = [];

				metric_list.forEach(function(metric) {

					var val = 0;
					var found = false;
					note_list.forEach(function(note) {
						if(note.device == device.id && note.metric == metric.id)
						{
							found = true;
							val = note.weight;
						}
					});

					vals.push(val);
				});

				datasets.push({
					label: device.name,
					backgroundColor: col,
					data: vals
				});
			}
		});


		window.myBar.data['labels'] = labels;
		window.myBar.data['datasets'] = datasets;
		window.myBar.update();

	}

	document.getElementById('inp').addEventListener('click', function() {

		update();
	});

 
</script>


</body>
</html>
